@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcomne</h1>
    <h3>This app is made by NguyenThoThaiBao aka. FudoDesu</h3>
    <h3>This app is just for pracetice. Feel free to use if you need ^^</h3>
</div>
